/* Theme Name: tijarah WooCommerce styles override */
del, del span {
    color: red !important;
    display: unset !important;
}

.woocommerce-page b, .woocommerce-page strong {
    color: #333;
}

.woocommerce label {
    width: 100%;
}

.woocommerce img, .woocommerce-page img {
    height: auto;
    max-width: 100%;
}

.woocommerce #content table.cart td.actions .coupon label, .woocommerce table.cart td.actions .coupon label, .woocommerce-page #content table.cart td.actions .coupon label, .woocommerce-page table.cart td.actions .coupon label {
    display: none;
}

.woocommerce-cart-form table {
    border: 0;
}

.woocommerce-cart-form table tbody, .woocommerce-cart-form table td, .woocommerce-cart-form table th {
    border: 0;
}

.woocommerce-cart-form .product-remove {
    text-align: center;
}

.woocommerce-cart-form table tbody tr {
    border-top: 1px solid #ddd;
}

.woocommerce-cart-form table td.product-thumbnail {
    padding: 10px;
    width: 10%;
}

.woocommerce-cart-form .actions .input-text {
    width: 250px !important;
    float: left;
    margin-right: 15px;
}

.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
    float: left;
}

.woocommerce #content table.cart td.actions, .woocommerce table.cart td.actions, .woocommerce-page #content table.cart td.actions, .woocommerce-page table.cart td.actions {
    text-align: right;
}

.woocommerce table.shop_table td, .woocommerce table.shop_table th, .woocommerce-page table.shop_table td, .woocommerce-page table.shop_table th {
    word-break: normal;
}

.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
    width: 100%;
    overflow: hidden;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: right;
    width: 48%;
}

.woocommerce-order-received table td, .woocommerce-order-received table th, .woocommerce-order-received table tr {
    border: 0;
}

.woocommerce-order-received table tfoot {
    border-top: 1px solid #ddd;
}

.woocommerce-order-received table tfoot tr:last-of-type {
    border-top: 1px solid #ddd;
}

.woocommerce-order-received table tfoot tr:last-of-type .woocommerce-Price-amount {
    font-weight: 500;
    color: #333;
}

.woocommerce-account #site-content .woocommerce {
    max-width: 1600px;
    padding: 0 6vw;
    margin: 0 auto;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    float: left;
    width: 20%;
}

.woocommerce-account .woocommerce-MyAccount-content {
    float: right;
    width: 78%;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.woocommerce-account table.account-orders-table td, .woocommerce-account table.account-orders-table th, .woocommerce-account table.account-orders-table tr {
    border: 0;
}

.woocommerce-account table.account-orders-table thead {
    border-bottom: 1px solid #ddd;
}

.woocommerce-account .woocommerce-MyAccount-navigation li {
    margin: 0 10px 15px 0;
    padding: 0;
    border-bottom: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation li a {
    font-size: 18px;
    font-weight: 500;
}

.woocommerce-account .woocommerce-Address-title a {
    color: #333;
    font-weight: 500;
}

.woocommerce .col2-set, .woocommerce-page .col2-set {
    width: 100%;
}

.woocommerce .u-columns.col2-set .col-1 {
    float: left;
    width: 48%;
    padding: 0;
}

.woocommerce .u-columns.col2-set .col-2 {
    float: right;
    width: 48%;
    padding: 0;
}

.cart_totals table {
    border: 0;
}

.cart_totals table tbody, .cart_totals table td, .cart_totals table th, .cart_totals table tr {
    padding: 1rem;
}

.cart_totals table th {
    width: 33%;
}

.cart_totals td, .cart_totals th {
    vertical-align: top;
}

.cart_totals .checkout-button {
    margin-top: 30px;
}

.cart_totals .checkout-button:hover {
    color: #fff;
    border: 1px solid #fff;
}

.woocommerce.single-product .onsale {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    padding: 3px 10px;
    border-radius: 50px;
}

.form-row.woocommerce-validated input.input-text, .form-row.woocommerce-invalid input.input-text {
    box-shadow: none !important;
}

.woocommerce-billing-fields table.shop_table_responsive thead {
    display: none;
}

.woocommerce-order .woocommerce-order-overview li {
    padding: 5px 0;
}

.woocommerce-order .woocommerce-order-overview li:last-child {
    border-bottom: 0;
}

.woocommerce > table td a {
    padding: 0 10px;
}

table.shop_table_responsive tbody th {
    display: none;
}

table.shop_table_responsive tr td {
    display: block;
    text-align: right;
    clear: both;
    vertical-align: middle;
}

table.shop_table_responsive tr td:before {
    content: attr(data-title) ": ";
    float: left;
}

table.shop_table_responsive tr td.product-remove a {
    text-align: left;
}

table.shop_table_responsive tr td.product-remove:before {
    display: none;
}

table.shop_table_responsive tr td.actions:before, table.shop_table_responsive tr td.download-actions:before {
    display: none;
}

table.shop_table_responsive tr td.download-actions .button {
    display: block;
    text-align: center;
}

.woocommerce-billing-fields .form-row, .woocommerce-shipping-fields .form-row, .woocommerce form .form-row {
    display: block;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    max-width: unset;
}

input[type=checkbox], input[type=radio] {
    float: left;
    margin-right: 10px;
}

.woocommerce-product-attributes-item:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.woocommerce-product-attributes-item th {
    vertical-align: baseline;
    padding: 15px 0;
    padding-right: 20px;
}

.woocommerce-product-attributes-item td {
    padding: 15px 0;
}

.woocommerce-product-attributes-item td p {
    margin-bottom: 0;
}

.woocommerce-product-attributes-item td a {
    color: #808080 !important;
}

#tab-additional_information table th, #tab-additional_information table td {
    border: none;
}

@media screen and (min-width: 48em) {
    table.shop_table_responsive thead {
        display: table-header-group;
    }

    table.shop_table_responsive tbody th {
        display: table-cell;
    }

    table.shop_table_responsive tr th, table.shop_table_responsive tr td {
        text-align: left;
    }

    table.shop_table_responsive tr td {
        display: table-cell;
    }

    table.shop_table_responsive tr td:before {
        display: none;
    }
}

/*Button*/
.dokan-dashboard .media-frame button {
    border-radius: 0;
}

.dokan-dashboard input[type="text"], .dokan-dashboard input[type="email"], .dokan-dashboard input[type="password"], .dokan-dashboard input[type="number"], .dokan-dashboard input[type="submit"], input[type="submit"].dokan-btn-theme, .dokan-btn-theme, a.dokan-btn, .dokan-btn {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0px 15px;
    font-size: 14px;
    border-radius: 50px;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
}

.dokan-dashboard input[type="submit"], input[type="submit"].dokan-btn-theme, .dokan-btn-theme, a.dokan-btn, .dokan-btn, input[type="submit"].dokan-btn-theme:hover, .dokan-btn-theme:hover, a.dokan-btn:hover, .dokan-btn:hover {
    color: #fff;
}

.dokan-dashboard .select2-container--default .select2-selection--single .select2-selection__arrow, .dokan-dashboard .select2-container--default .select2-selection--single .select2-selection__rendered, .dokan-dashboard .select2-container--default .select2-selection--single, .dokan-dashboard select {
    height: 40px !important;
    line-height: 40px !important;
}

/*newest items*/
.newest-filter {
    text-align: center;
}

.widget-woocommerce .site-preview, .newest_items .site-preview {
    width: 86px;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    border: 3px solid #fff;
    -webkit-box-shadow: 0px 10px 20px rgba(97, 105, 140, 0.1);
    box-shadow: 0px 10px 20px rgba(97, 105, 140, 0.1);
}

.widget-woocommerce .site-preview {
    margin: 0 auto 20px;
}

.sit-envato-price sup {
    display: none;
}

/** * Products */ /** * Products */
ul.products {
    content: "";
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

ul.products li.product {
    list-style: none;
    position: relative;
    margin-bottom: 2em;
}

ul.products li.product .woocommerce-loop-product__title {
    font-size: 1rem;
}

ul.products li.product img {
    display: block;
}

ul.products li.product .button {
    display: block;
}

/** * Single product */ /** * Single Product */
.single-product div.product {
    content: "";
    display: block;
    table-layout: fixed;
    position: relative;
}

.single-product div.product .woocommerce-product-gallery {
    background: #fff;
    position: relative;
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    position: absolute;
    top: 1em;
    right: 1em;
    display: block;
    z-index: 99;
}

.single-product div.product .woocommerce-product-gallery .wp-video, .single-product div.product .woocommerce-product-gallery .wp-video-shortcode {
    width: 690px !important;
}

.single-product div.product .woocommerce-product-gallery .tijarah-btn.download {
    position: absolute;
    top: 10%;
    right: 6%;
}

.single-product div.product .woocommerce-product-gallery .product-social-share {
    position: absolute;
    bottom: 65px;
    left: 50px;
    z-index: 3;
}

.single-product div.product .woocommerce-product-gallery .audioPlayer .product-social-share {
    bottom: 0;
}

.product-social-share {
    position: relative;
}

.plyr__controls .plyr__control {
    height: 30px;
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
    width: 55px;
}

.plyr__control--overlaid svg {
    left: 5px;
}

.product-social-share .float {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 55px;
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    z-index: 1000;
    animation: bot-to-top 2s ease-out;
}

.product-social-share .social a {
    color: #fff;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 53px;
    padding: 0px;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 2px;
    transition: all 0.5s;
}

.product-social-share .social a:hover {
    box-shadow: 2px 2px 3px #999;
}

.product-social-share a.facebook {
    background-color: #4e71a8;
    animation-delay: 0.5s;
}

.product-social-share a.pinterest {
    animation-delay: 0.7s;
    background-color: #D73532;
}

.product-social-share a.twitter {
    animation-delay: 0.15s;
    background-color: #1cb7eb;
}

.product-social-share .padding .facebook {
    left: 80px;
}

.product-social-share .padding .pinterest {
    left: 140px;
}

.product-social-share .padding .twitter {
    left: 200px;
}

.product-social-share .my-float {
    font-size: 24px;
    margin-top: 16px;
}

@keyframes rotate-in {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-out {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.single-product div.product .woocommerce-product-gallery .playerContainer {
    margin-bottom: 0;
}

.single-product div.product .woocommerce-product-gallery .audioName {
    text-align: left;
}

/* 2nd button */
.product-social-share1 .circ {
    width: 90px;
    height: 124px;
    background-color: transparent;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    position: absolute;
    top: -30px;
    left: -50px;
}

.product-social-share1 .circ a.facebook {
    top: -20px;
    left: 20px;
}

.product-social-share1 .circ a.pinterest {
    top: 35px;
    left: -10px;
}

.product-social-share1 .circ a.twitter {
    top: 90px;
    left: 20px;
}

.product-social-share1 .pad1 a.facebook, .product-social-share1 .pad1 a.pinterest, .product-social-share1 .pad1 a.twitter {
    top: 35px;
    left: 55px;
}

.product-social-share2 .float {
    display: block;
    background-color: #33bcf1;
    margin: 0 auto;
    box-shadow: 0px 0px 8px 2px rgba(95, 160, 185, 0.3);
}

.product-social-share2 .soc {
    position: relative;
    height: 60px;
    width: 60px;
    background-color: #33bcf1;
    border-radius: 60px;
    padding: 0px 5px;
    transform: translateY(-60px);
    display: flex;
    transition: all 0.4s;
    overflow: hidden;
    margin: 0 auto;
}

.product-social-share2 .soc a {
    position: relative;
    color: #fff;
    text-align: center;
    height: 60px;
    line-height: 60px;
    padding: 0px;
    font-size: 20px;
    display: block;
    flex: 1;
    -webkit-flex: 1;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.product-social-share2 .soc a:hover {
    box-shadow: none;
    transform: translateY(-5px);
}

.product-social-share2 .soc.active {
    width: 100%;
}

.single-product div.product .woocommerce-product-gallery .flex-viewport {
    margin-bottom: 1em;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
    content: "";
    display: inline-flex;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    display: none;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
    list-style: none;
    cursor: pointer;
    float: left;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
    opacity: .5;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
    opacity: 1;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li:hover img {
    opacity: 1;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
    width: 48.1%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n) {
    margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n+1) {
    clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
    width: 30.7966666667%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n) {
    margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1) {
    clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    width: 22.15%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
    margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
    clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
    width: 16.96%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n) {
    margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n+1) {
    clear: both;
}

.stock:empty:before {
    display: none;
}

.stock.in-stock {
    color: #0f834d;
}

.stock.out-of-stock {
    color: #e2401c;
}

/** * Checkout */
.woocommerce-checkout form .col2-set {
    width: 50%;
    float: left;
    padding-right: 1.5vw;
}

.woocommerce-checkout form #order_review, .woocommerce-checkout form #order_review_heading {
    width: 50%;
    padding-left: 1.5vw;
    float: right;
    clear: right;
}

.woocommerce-checkout form .col2-set p {
    margin-bottom: 1.15em;
}

.woocommerce form .form-row-first, .woocommerce-page form .form-row-first {
    float: left;
}

.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    width: 47%;
    overflow: visible;
}

.woocommerce form.lost_reset_password {
    width: 50%;
    margin: 0 auto;
}

.woocommerce form.lost_reset_password .woocommerce-form-row {
    width: 100%;
}

.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {
    box-sizing: border-box;
    width: 100%;
}

.woocommerce-checkout form .col2-set input {
    border: 1px solid #ddd;
}

.woocommerce-checkout form #order_review .woocommerce-checkout-review-order-table td, .woocommerce-checkout form #order_review .woocommerce-checkout-review-order-table th, .woocommerce-checkout form #order_review_heading .woocommerce-checkout-review-order-table td, .woocommerce-checkout form #order_review_heading .woocommerce-checkout-review-order-table th {
    border: 0;
}

.woocommerce-checkout form #order_review .woocommerce-checkout-review-order-table .cart-subtotal, .woocommerce-checkout form #order_review .woocommerce-checkout-review-order-table .order-total, .woocommerce-checkout form #order_review_heading .woocommerce-checkout-review-order-table .cart-subtotal, .woocommerce-checkout form #order_review_heading .woocommerce-checkout-review-order-table .order-total {
    border-top: 1px solid #ddd;
}

.woocommerce-checkout form #order_review .woocommerce-checkout-review-order-table {
    margin-bottom: 30px;
}

.woocommerce form .form-row-last, .woocommerce-page form .form-row-last {
    float: right;
}

.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    width: 47%;
    overflow: visible;
}

.woocommerce-checkout-review-order ul {
    margin: 2rem 0 3rem;
    padding-left: 0;
    list-style: none;
}

.wc_payment_method input.input-radio[name=payment_method] {
    display: none;
}

.wc_payment_method input.input-radio[name=payment_method] + label::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #6d6d6d;
    background: #fff;
    margin-left: 4px;
    margin-right: 10px;
    border-radius: 100%;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}

.wc_payment_method input.input-radio[name=payment_method]:checked + label::before {
    background: #555;
}

.wc_payment_method > label:first-of-type {
    display: block;
    margin: 1rem 0;
}

.wc_payment_method label {
    cursor: pointer;
}

.wc_payment_method .payment_box {
    padding: 10px;
    background: #eee;
    border-radius: 6px;
}

.wc_payment_method .payment_box p:last-child {
    margin-bottom: 0;
}

.wc_payment_method .payment_box p:first-child {
    margin-top: 0;
}

.wc_payment_method > label:first-of-type img {
    max-height: 24px;
    max-width: 200px;
    float: right;
}

.wc_payment_method > label a {
    color: #333;
    font-weight: 500;
}

/* Checkout page processing spinner */
.blockUI.blockOverlay {
    background-image: url('../images/processing.gif') !important;
    background-position: center 50% !important;
    background-repeat: no-repeat !important;
    position: fixed !important;
}

@media screen and (min-width: 768px) {
    .col2-set .form-row-first {
        float: left;
        margin-right: 3.8%;
    }

    .col2-set .form-row-last {
        float: right;
        margin-right: 0;
    }

    .col2-set .form-row-first, .col2-set .form-row-last {
        width: 48.1%;
    }
}

/** * General WooCommerce components */ /** * Header cart */
.mini-cart .widget_shopping_cart {
    position: absolute;
    z-index: 9;
    border-radius: 0;
    border: none;
    text-align: left;
    background: #fff;
    -webkit-box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.25);
    display: block;
    left: 0;
    opacity: 0;
    right: 0;
    padding: 15px 20px !important;
    top: 56px;
    padding-left: 0;
    visibility: hidden;
    min-width: 300px;
    -webkit-box-shadow: 0px 30px 70px 0px rgba(137, 139, 142, 0.15);
    box-shadow: 0px 30px 70px 0px rgba(137, 139, 142, 0.15);
    margin: 0;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.mini-cart .product_list_widget {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.menu-cart:hover .widget_shopping_cart {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.mini-cart:after {
    position: absolute;
    content: '';
    left: 0;
    top: 20px;
    height: 50px;
    min-width: 104px;
    z-index: 9;
}

.mini-cart .widget_shopping_cart .mini_cart_item:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.mini-cart .widget_shopping_cart .mini_cart_item {
    position: initial;
    display: block;
    margin-right: 0;
}

.mini-cart .widget_shopping_cart .mini_cart_item a {
    display: inline-block;
}

.mini-cart .widget_shopping_cart .mini_cart_item a:last-child {
    float: left;
}

.mini-cart .cart-contents > .amount, .mini-cart .mini-cart .widget_shopping_cart .mini_cart_item .amount {
    display: none;
}

.mini-cart .widget_shopping_cart .mini_cart_item .remove_from_cart_button {
    position: absolute;
    right: 15px;
}

.mini-cart .widget_shopping_cart img {
    width: 80px;
    margin-right: 15px;
    border-radius: 10px;
    border: 3px solid #fff;
}

.mini-cart .widget_shopping_cart .quantity {
    display: none;
}

.mini-cart .widget_shopping_cart .woocommerce-mini-cart__total {
    padding: 20px 0;
    margin-bottom: 0;
    display: block;
    clear: both;
}

.mini-cart .widget_shopping_cart .woocommerce-mini-cart__total .amount {
    float: right;
}

.mini-cart .widget_shopping_cart .woocommerce-mini-cart__buttons a:first-child {
    display: none;
}

.mini-cart .widget_shopping_cart .woocommerce-mini-cart__buttons a {
    text-align: center;
    padding: 12px 40px;
    display: block;
    border-radius: 30px;
    color: #fff;
}

.mini-cart .widget_shopping_cart .wcppec-cart-widget-button {
    display: none !important;
}

.mini-cart .widget_shopping_cart .woocommerce-mini-cart__empty-message {
    text-align: center;
}

.mini-cart .variation {
    display: none;
}

/** * Star rating */
.star-rating {
    overflow: hidden;
    position: relative;
    height: 1.618em;
    line-height: 1.618;
    font-size: 1em;
    width: 5.3em;
    font-family: 'star';
    font-weight: 400;
}

.star-rating:before {
    content: "\53\53\53\53\53";
    opacity: .25;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}

.star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}

.star-rating span:before {
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0;
    color: #ffc000;
}

p.stars a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
    margin-right: 1px;
    font-weight: 400;
}

p.stars a:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-family: "star";
    content: "\53";
    color: #404040;
    text-indent: 0;
    opacity: .25;
}

p.stars a:hover ~ a:before {
    content: "\53";
    opacity: .25;
}

p.stars:hover a:before {
    content: "\53";
    color: #ffc000;
    opacity: 1;
}

p.stars.selected a.active:before {
    content: "\53";
    color: #ffc000;
    opacity: 1;
}

p.stars.selected a.active ~ a:before {
    content: "\53";
    color: #404040;
    opacity: .25;
}

p.stars.selected a:not(.active):before {
    content: "\53";
    color: #ffc000;
    opacity: 1;
}

/** * Tabs */
.woocommerce-tabs {
    border-radius: 6px;
    background: #fff;
    margin-bottom: 30px;
}

.woocommerce-tabs ul.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.woocommerce-tabs ul.tabs li {
    display: inline-block;
    margin: 0;
    position: relative;
    border-right: 1px solid #ddd;
}

.woocommerce-tabs ul.tabs li:last-child {
    border: none;
}

.woocommerce-tabs ul.tabs li a {
    position: relative;
    padding: 20px;
    display: block;
    color: #333;
    font-weight: 500;
}

.woocommerce-tabs ul.tabs li.active a {
    position: relative;
}

.woocommerce-tabs ul.tabs li.active a:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
}

.woocommerce-tabs .panel {
    padding: 30px;
}

.woocommerce-tabs .panel h2:first-of-type {
    display: none;
}

.woocommerce-cart-form__contents .actions {
    padding-top: 30px;
    padding-bottom: 50px;
}

.comment-form-rating .nice-select, .comment-form-rating #rating {
    display: none;
}

.woocommerce-tabs #tab-seller .details a {
    font-weight: bolder;
    color: #333;
}

.woocommerce-tabs #tab-seller .star-rating {
    float: left;
    margin-right: 10px;
}

.woocommerce-tabs #tab-seller ul {
    margin-bottom: 0;
}

.woocommerce-tabs #tab-seller ul li:not(:last-child) {
    margin-bottom: 10px;
}

/** * Related products */
.single-product .related.products {
    margin-top: 50px;
}

.single-product .related.products h2 {
    margin-bottom: 1em;
}

.single-product .related.products .download-item-content h5 {
    font-size: 16px;
}

/** * Password strength meter */
.woocommerce-password-strength {
    text-align: right;
}

.woocommerce-password-strength.strong {
    color: #0f834d;
}

.woocommerce-password-strength.short {
    color: #e2401c;
}

.woocommerce-password-strength.bad {
    color: #e2401c;
}

.woocommerce-password-strength.good {
    color: #3D9CD2;
}

/** * Forms */
.woocommerce-billing-fields .form-row {
    display: block;
}

.woocommerce-additional-fields .woocommerce-input-wrapper, .woocommerce-additional-fields label, .woocommerce-billing-fields label {
    width: 100%;
}

.woocommerce-additional-fields .woocommerce-input-wrapper textarea {
    border-radius: 6px;
    height: 160px;
}

.form-row.woocommerce-validated input.input-text {
    box-shadow: inset 2px 0 0 #0f834d;
}

.form-row.woocommerce-invalid input.input-text {
    box-shadow: inset 2px 0 0 #e2401c;
}

.required {
    color: red;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #666;
    line-height: 55px !important;
    padding-left: 20px !important;
}

.select2-container .select2-selection--single {
    height: 55px;
    border-radius: 50px !important;
    border: 1px solid #ddd !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 55px !important;
    right: 10px !important;
}

.select2-container--open .select2-dropdown--below {
    padding: 10px;
    margin-top: 10px;
}

/** * Notices */
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    margin-bottom: 30px;
    margin-left: 0;
    padding: 20px 30px;
    background: #eee;
    list-style: none;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.woocommerce-info {
    background: #eee;
    color: #000;
    border-top: 2px solid;
}

.single-product .woocommerce-message {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button, .woocommerce-page .woocommerce-error .button, .woocommerce-page .woocommerce-info .button, .woocommerce-page .woocommerce-message .button {
    float: right;
}

.woocommerce-error {
    list-style: none;
    background: red;
    color: #fff;
}

.woocommerce-error li {
    width: 100%;
}

.woocommerce-error li strong {
    color: #fff;
    margin-right: 10px;
}

.woocommerce-error a {
    color: #fafafa;
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

.demo_store {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 1em;
    color: #fff;
    background-color: #161616;
    z-index: 9999;
}

ul.woocommerce-error {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
    clear: both;
}

.woocommerce-store-notice .woocommerce-store-notice__dismiss-link {
    float: right;
    padding: 0 15px;
    border-radius: 20px;
}

.woocommerce-store-notice .woocommerce-store-notice__dismiss-link:hover {
    color: #fff;
}

@media screen and (min-width: 48em) {
    /** * Header cart */
    .site-header-cart .widget_shopping_cart {
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 999999;
        left: -999em;
        display: block;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    }

    .site-header-cart:hover .widget_shopping_cart, .site-header-cart.focus .widget_shopping_cart {
        left: 0;
        display: block;
    }
}

/*download*/
.download-item {
    background: #fff;
    box-shadow: 0px 10px 20px rgba(97, 105, 140, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    transition: all 300ms;
}

.download-item:hover {
    box-shadow: 0 20px 25px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, .15);
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
}

.download-item-image {
    position: relative;
    border-bottom: 1px solid #ebebeb;
}

.download-item-image .onsale {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    padding: 3px 10px;
    border-radius: 50px;
}

.download-item-content {
    padding: 20px;
    position: relative;
}

.download-item-content a h5 {
    font-weight: bold;
    margin-bottom: 7px;
}

.download-item-content .download-category {
    padding: 2px 10px;
    font-size: 14px;
    border: 1px solid #ebebeb;
    border-radius: 20px;
}

.download-item-content ul {
    margin-top: 20px;
}

.download-item-content .product-tags {
    font-size: 12px;
}

.single-download .col-sm-8 .edd_download_purchase_form {
    display: none;
}

.download-item-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(9, 30, 66, .7);
    opacity: 0;
    transition: opacity 300ms;
}

.download-item:hover .download-item-overlay {
    opacity: 1;
}

.download-item-overlay ul {
    position: absolute;
    top: 50%;
    margin-top: 0;
    width: 100%;
    transform: translateY(-50%);
}

.download-item-overlay ul li:not(:last-child) {
    margin-bottom: 20px;
}

.download-item-overlay ul a {
    color: #fff;
    width: 160px;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50px;
    transition: all 400ms;
}

.download-item-overlay ul a:hover {
    box-shadow: 0 6px 12px -3px rgba(9, 30, 66, .4);
    transform: translate(0, -3px);
    -webkit-transform: translate(0, -3px);
}

.download-item-overlay ul li a.add_to_cart_button.added {
    display: none;
}

.download-item-overlay ul a i {
    margin-right: 15px;
}

.download-item-content .price {
    font-weight: bold;
    color: #333;
}

.download-item-content .price del {
    color: red;
}

.download-item-content .price ins {
    text-decoration: none;
}

/*-------------------------------------------------------------- ## WooCommerce Widget --------------------------------------------------------------*/
.widget-product-details {
    text-align: center;
}

.widget-product-details .widget-price p {
    font-weight: bold;
    font-size: 34px;
    color: #333;
}

.widget-product-details .widget-price p del {
    font-size: 24px;
    color: red;
}

.widget-product-details .widget-price p ins {
    text-decoration: none;
    display: block;
}

.widget-product-details select, .widget-product-details input[type=number] {
    text-align: center;
    border-radius: 50px;
    height: 50px;
    margin-bottom: 20px;
    width: 185px;
}

.widget-product-details .widget-add-to-cart table {
    text-align: center;
}

.widget-product-details .widget-add-to-cart table td {
    display: block;
}

.widget-product-details .widget-add-to-cart .tijarah-btn {
    margin-top: 15px
}

.widget-product-details .widget-add-to-cart #pa_license:focus {
    outline: none;
}

.widget-product-details .widget-add-to-cart #pa_license {
    padding: 0 15px;
}

.widget-product-details .widget-add-to-cart .woocommerce-Price-amount {
    font-size: 22px;
    color: #333;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 10px;
}

.widget-product-details .widget-add-to-cart .reset_variations {
    display: none !important
}

.widget-product-details .widget-rating .star-rating {
    margin: 0 auto 15px;
}

.widget-product-details .edd-cart-added-alert {
    left: 0;
    right: 0;
    text-align: center;
}

.widget-product-details .download-sale {
    position: relative;
}

.widget-product-details .product-sidebar-stats {
    margin-top: 30px;
    margin-bottom: 40px;
}

.widget-product-details .product-sidebar-stats li {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.widget-product-details .product-sidebar-stats li i {
    margin-right: 10px;
}

.widget-product-details .product-sidebar-stats li span {
    color: #333;
    font-weight: 500;
}

.widget-product-details .widget-add-to-cart .woocommerce-variation-description {
    text-align: left;
}

.widget-product-details .widget-add-to-cart .variations .value select, .widget-product-details .widget-add-to-cart .variations .value .nice-select {
    display: none;
}

.widget-product-details .widget-add-to-cart .variations .value .variation-radios {
    text-align: left;
    background: #f5f5f5;
    padding: 15px;
    margin-bottom: 10px;
}

.widget-product-details .widget-add-to-cart .variations .value .variation-radios [type="radio"]:checked, .widget-product-details .widget-add-to-cart .variations .value .variation-radios [type="radio"]:not(:checked) {
    display: none;
}

.widget-product-details .widget-add-to-cart .variations .value .variation-radios [type="radio"]:checked + label, .widget-product-details .widget-add-to-cart .variations .value .variation-radios [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    margin: 10px 0;
}

.widget-product-details .widget-add-to-cart .variations .value .variation-radios [type="radio"]:checked + label:before, .widget-product-details .widget-add-to-cart .variations .value .variation-radios [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.widget-product-details .widget-add-to-cart .variations .value .variation-radios [type="radio"]:checked + label:after, .widget-product-details .widget-add-to-cart .variations .value .variation-radios [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.widget-product-details .widget-add-to-cart .variations .value .variation-radios [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.widget-product-details .widget-add-to-cart .variations .value .variation-radios [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.widget-product-details table {
    text-align: left;
    margin-bottom: 0;
}

.widget-product-details table tr {
    border: none;
    vertical-align: top;
}

.widget-product-details table th {
    color: #333;
    font-weight: 500;
    border: none;
    padding-right: 0;
    padding-left: 0;
}

.widget-product-details table td {
    font-weight: 500;
    padding: 8px 0;
    border: none;
}

.widget-product-details table td span a {
    color: #808080;
}

.widget-product-details table tr {
    border: none;
    line-height: 35px;
}

.widget-product-details table span {
    font-weight: 300;
    display: block;
    margin-left: 15px;
}

.widget-product-details .nice-select {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 50px;
    margin-bottom: 15px;
}

/** * WooCommerce Price Filter */
.widget_price_filter .price_slider {
    margin-bottom: 1.5em;
}

.widget_price_filter .price_slider_amount {
    text-align: right;
    line-height: 2.4em;
}

.widget_price_filter .price_slider_amount .button {
    float: left;
}

.widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
}

.widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1em;
    height: 1em;
    cursor: ew-resize;
    outline: none;
    box-sizing: border-box;
    margin-top: -.25em;
    opacity: 1;
    border-radius: 20px;
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -1em;
}

.widget_price_filter .ui-slider .ui-slider-handle:hover, .widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
    box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider-horizontal {
    height: .5em;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
    height: 100%;
}

.widget.woocommerce ul li span {
    float: right;
}

.preview-btn {
    background: #fff;
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 30px;
}

.preview-btn li a {
    padding: 12px 20px;
    border-radius: 50px;
    display: inline-block;
    width: 170px;
    border: 1px solid;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
}

.preview-btn li a i {
    margin-right: 10px;
}

.preview-btn li a:hover {
    color: #fff;
}

.products-filter-area {
    background: #fff;
    box-shadow: 0px 10px 20px rgba(97, 105, 140, 0.1);
    padding: 30px;
    border-radius: 6px;
    margin-bottom: 50px;
}

.products-filter-area .nice-select {
    font-size: 18px;
    font-weight: 500;
}

.products-filter-area .woocommerce-ordering {
    text-align: right;
}

.products-filter-area .nice-select .list {
    margin-top: 35px;
    width: 240px;
}

.products-filter-area p {
    margin-bottom: 0;
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.item-single-comment {
    background: #fafafa;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.item-comment-content h5 {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
    margin-top: 0;
}

.item-comment-content h5 a:hover {
    color: #2684fe;
}

.comment-form-comment {
    margin-bottom: 0;
}

.item-comment-content .review-content-star {
    font-size: 12px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    display: inline-block;
    top: 5px;
}

.item-comment-content .review-content-star::before {
    content: "|";
    position: absolute;
    left: 0;
    top: -1px;
    color: #ccc;
    font-size: 14px;
}

.item-comment-content small {
    font-size: 13px;
    float: right;
}

.item-comment-content p {
    margin-top: 10px;
    margin-bottom: 0;
}

.item-comment-avatar img {
    border-radius: 50%;
    max-width: unset;
    margin-right: 20px;
}

.item-comment-box {
    margin-top: 55px;
}

.item-comment-box h3 {
    font-size: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ededed;
    padding-bottom: 20px;
}

/*Dokan*/
#dokan-store-listing-filter-wrap .nice-select .list {
    margin-top: 35px;
    width: 240px;
}

#dokan-store-listing-filter-wrap .nice-select .list li {
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: 0;
    padding-left: 18px;
}

#dokan-store-listing-filter-wrap .nice-select::after {
    right: 5px;
}

.store-review-wrap .commentlist {
    padding-left: 0;
}

.store-review-wrap .commentlist li {
    list-style: none;
}

.store-review-wrap .commentlist li .dokan-review-author-img {
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 20px;
}

.store-review-wrap .commentlist li .dokan-review-author-img img {
    border-radius: 50%;
}

.store-review-wrap .commentlist li .description {
    overflow: hidden;
}

@media (max-width: 992px) {
    .single-product div.product .woocommerce-product-gallery .tijarah-btn.download {
        display: none;
    }

    .mini-cart {
        display: none;
    }

    .off-canvas-menu .navigation li .mini-cart {
        display: block;
    }

    .off-canvas-menu .navigation li .mini-cart:after {
        width: 100%;
    }

    .off-canvas-menu .navigation li .cart-contents {
        color: #fff;
    }

    .mini-cart .widget_shopping_cart .mini_cart_item a {
        padding: 0;
        background: inherit !important;
        color: inherit !important;
    }

    .off-canvas-menu .mini-cart .widget_shopping_cart .mini_cart_item:last-child {
        border-bottom: none;
    }

    .item-comment-content small {
        float: none;
    }
}

@media (max-width: 768px) {
    .woocommerce table.shop_table_responsive thead, .woocommerce-page table.shop_table_responsive thead {
        display: none;
    }

    .woocommerce table.shop_table_responsive tr .product-remove, .woocommerce-page table.shop_table_responsive tr .product-remove {
        float: right;
    }

    .woocommerce table.shop_table_responsive tr .product-thumbnail img, .woocommerce-page table.shop_table_responsive tr .product-thumbnail img {
        max-width: 70px;
    }

    .woocommerce table.shop_table_responsive tr .product-thumbnail, .woocommerce-page table.shop_table_responsive tr .product-thumbnail {
        display: block;
        position: absolute;
    }

    .woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
        display: block;
        text-align: right !important;
    }

    .woocommerce table.shop_table_responsive tr .product-thumbnail::before, .woocommerce-page table.shop_table_responsive tr .product-thumbnail::before {
        content: '';
    }

    .woocommerce-cart-form .actions .input-text, .woocommerce-cart-form .actions .button {
        width: 100% !important;
        margin-bottom: 15px;
    }

    .woocommerce-checkout form .col2-set {
        width: 100%;
        float: none;
        padding-right: 0;
    }

    .woocommerce-checkout form #order_review, .woocommerce-checkout form #order_review_heading {
        width: 100%;
        padding-left: 0;
        float: none;
    }

    .logged-in.woocommerce-account #site-content .woocommerce {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .logged-in.woocommerce-account .woocommerce-MyAccount-navigation {
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
    }

    .logged-in.woocommerce-account .woocommerce-MyAccount-content, .logged-in.woocommerce-account .woocommerce-MyAccount-navigation {
        width: 100%;
    }

    .woocommerce .u-columns.col2-set .col-1, .woocommerce .u-columns.col2-set .col-2 {
        float: none;
        width: 100%;
    }

    .woocommerce form.lost_reset_password {
        width: 100%;
    }

    .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
        float: right;
        width: 100%;
    }

    .woocommerce-page table.cart td.actions .coupon label {
        visibility: hidden;
        display: unset;
    }
}

@media (max-width: 414px) {
    .item-single-comment {
        display: block;
    }

    .item-comment-avatar img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
